{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center text-success mb-4">Produtos</h2>
    
    <div class="row">
        {% if produtos %}
            {% for produto in produtos %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ produto.foto.url }}" class="card-img-top" alt="{{ produto.nome }}" style="object-fit: contain; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title text-success">{{ produto.nome }}</h5>
                        <p class="card-text">{{ produto.preco }} €</p>
                        <a href="{% url 'ver_produto' produto.slug %}" class="btn btn-outline-success btn-sm">Ver</a>
                        
                        <form method="post" action="{% url 'adicionar_carrinho' produto.slug %}" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="scroll_position" id="scroll_position">
                            <button type="submit" class="btn btn-success btn-sm">Adicionar ao Carrinho</button>
                        </form>

                        {% if user.is_staff %}
                        <a href="{% url 'editar_produto' produto.slug %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'apagar_produto' produto.slug %}" class="btn btn-danger btn-sm">Apagar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Nenhum produto encontrado.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
