{% extends 'base.html' %}

{% block title %}{{ categoria.nome }}{% endblock %}

{% block content %}
    <h1>{{ categoria.nome }}</h1>
    <p>{{ categoria.slug }}</p>
    <br>
    
        {% for produto in produtos %}
            <img src="{{ produto.foto.url }}" alt="{{ produto.nome }}" style="max-width: 200px;" />
            <p><strong>Descrição:</strong></p>
            <p>{{produto.descricao}}</p>
            <p>Preço: {{produto.preco}} €</p>
            <small>Categoria: {{ produto.categoria.nome }} | Validade: {{ produto.validade }} | Stock: {{produto.stock}}</small>
            <a href="{% url 'ver_produto' produto.slug %}?origem=categoria&categoria_slug={{ categoria.slug }}">Ver</a>

            {% if user.is_staff %}
            <a href="{% url 'editar_produto' produto.slug %}">Editar</a>
            <a href="{% url 'apagar_produto' produto.slug %}">Apagar</a>
            {% endif %}

            <br>

        {% empty %}

            <li>Não há produtos nesta categoria.</li>
            
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'lista_categorias' %}">Voltar</a>
{% endblock %}
